BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 80
ReflowComments: true
KeepEmptyLinesAtTheStartOfBlocks: true
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlignConsecutiveAssignments: true
InsertNewlineAtEOF: true